/*!
 * Start Bootstrap - Grayscale v5.0.6 (https://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-grayscale/blob/master/LICENSE)
 */

:root{
    --prim:#00458B;
    --sec: #01345B;
    --acc: #4AD7D1;
    --back: #99ddff;
    --drk: #001131;
}

#mainNav {
    min-height: 56px;
    background-color: var(--back);
}

.nav-fixed{
    background-color: #01345B;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #01345B;
    border: 1px solid #01345B;
}

#mainNav .navbar-toggler:focus {
    outline: none;
}

.navbar-brand {
    color: #fff;
    font-weight: 700;
    padding: .9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}



@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: #99ddff;
        -webkit-transition: background-color 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
    }
    #mainNav .navbar-brand {
        padding: .5rem 0;
        color: #fff;
    }
    #mainNav .nav-link {
        -webkit-transition: none;
        transition: none;
        padding: 2rem 1.5rem;
    }
    #otherNav .nav-link {
        font-size: small;
    }
    #mainNav .nav-link:hover {
        color: rgba(255, 255, 255, 0.75);
    }
    #mainNav .nav-link:active {
        color: white;
    }
    #mainNav.navbar-shrink {
        background-color: #01345B;
    }
    #mainNav.navbar-shrink .navbar-brand {
        color: #fff;
    }
    #mainNav.navbar-shrink .nav-link {
        color: #99ddff;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link:hover {
        color: #fff;
    }
    #mainNav.navbar-shrink .nav-link:active {
        color: #99ddff;
    }
    #mainNav.navbar-shrink .nav-link.active {
        color: #99ddff;
        outline: none;
        border-bottom: 0.25rem solid #99ddff;
    }

}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 30rem;
    align-content: center;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(75%, #fff), to(#99ddff)), url("../images/lion.jpg");
    background: linear-gradient(to bottom, #99ddff 0%, #fff 75%, #99ddff 100%), url(".../images/lion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.masthead h1 {
    font-family: 'Varela Round', serif;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.masthead h2 {
    max-width: 20rem;
    font-size: 1rem;
}

@media (max-width: 767px) {
    .masthead h1{
        margin-top: 8rem;

    }
}

@media (min-width: 767px) {
    .masthead h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
    #content-wrap {
        margin-bottom: 400px;/* Footer height */
    }

    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 400px;
    }
    .btn-mgt {
        margin-top: 1.5rem;
    }
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }
    .masthead h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }
    .masthead h2 {
        max-width: 30rem;
        font-size: 1.25rem;
    }
    .btn-mgt {
        margin-top: 1.5rem;
    }

}



/*.btn-primary {*/
/*    background-color: #64a19d;*/
/*}*/

/*.btn-primary:hover {*/
/*    background-color: #4f837f;*/
/*}*/

/*.btn-primary:focus {*/
/*    background-color: #4f837f;*/
/*    color: white;*/
/*}*/

/*.btn-primary:active {*/
/*    background-color: #467370 !important;*/
/*}*/

.about-section {
    padding-top: 10rem;
    background: -webkit-gradient(linear, left top, left bottom, from(#161616), color-stop(75%, rgba(22, 22, 22, 0.9)), to(rgba(22, 22, 22, 0.8)));
    background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
}

.about-section p {
    margin-bottom: 5rem;
}

.projects-section {
    padding: 10rem 0;
}

.projects-section .featured-text {
    padding: 2rem;
}

@media (min-width: 992px) {
    .projects-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid var(--prim);
    }
}

.projects-section .project-text {
    padding: 3rem;
}

@media (min-width: 992px) {
    .projects-section .project-text {
        padding: 5rem;
    }
    .projects-section .project-text hr {
        border-color: var(--prim);
        border-width: .25rem;
        width: 30%;
    }
    #content-wrap {
        padding-bottom: 10px;
        margin-bottom: 350px;/* Footer height */

    }

    #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 350px;
    }
}

.signup-section {
    padding: 10rem 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 22, 22, 0.1)), color-stop(75%, rgba(22, 22, 22, 0.5)), to(#161616)), url("../img/bg-signup.jpg");
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/bg-signup.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.form-inline input {
    height: 45px;
}

.main-input {
    padding: 1.25rem 2rem;
    height: auto;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;

}
.btn-search {
    -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
}
.btn-nav {
    -webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 0.5rem 0.5rem;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    background-color: #4AD7D1;
    border-color: #4AD7D1;
    color: white;
}
.btn-nav:hover{
    background-color:#00458B;
    border-color:#00458B;
    color: white;
}

.contact-section {
    padding: 5rem 0 0;
}

.contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid var(--prim);
}

.contact-section .card h4 {
    font-family: 'Varela Round';
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.contact-section .card hr {
    border-color: var(--prim);
    border-width: 0.25rem;
    width: 3rem;
}

.contact-section .social {
    margin-top: 5rem;
}

.contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    background: var(--back);
    border-radius: 100%;
    line-height: 3rem;
    color: white;
}

.contact-section .social a:hover {
    color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
    color: #fff;
}

body {
    font-family: 'Nunito';
    letter-spacing: 0.0625em;
}

a {
    color: var(--acc);
}

a:focus, a:hover {
    text-decoration: none;
    color: var(--prim);
}

.bg-black {
    background-color: #161616 !important;
}

.bg-dark{
    background-color: var(--dark) !important;
}

.bg-primary {
    background-color: var(--prim) !important;
}
.bg-fade{
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(75%, #fff), to(#99ddff));
    background: linear-gradient(to bottom, var(--back) 0%, var(--back) 75%, #fff 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
h4{
    color: var(--prim);
}
#projects p{
    font-size: medium;
}

.text-primary {
    color: var(--prim) !important;
}
