
:root{
    --primary:#00458B;
    --secondary: #01345B;
    --accent: #4AD7D1;
    --light: #99ddff;
    --dark: #001131;
}

#footer{
    background-color: #001131;
}
#footer p, #footer h6{
    color: #4AD7D1;
}
#footer hr{
    background-color:  #4AD7D1;
}
#footer a{
    color: #99ddff;
}
#footer a:hover{
    color: white;
}

.nav-side-menu {
    overflow: auto;
    font-size: 12px;
    font-weight: 200;
    background-color: #001131;
    position: fixed;
    top: 0px;
    width: 250px;
    height: 100%;
    color: #e1ffff;
  }
  .nav-side-menu .brand {
    background: -webkit-gradient(linear, left top, left bottom, from(#99ddff), color-stop(75%, #fff), to(#fff)), url("../images/lion.jpg");
    background: linear-gradient(to bottom, #99ddff 0%, #fff 75%, #fff  100%), url(".../images/lion.jpg");
    line-height: 100px;
    display: block;
    text-align: center;
    font-size: 14px;
  }
  .nav-side-menu .toggle-btn {
    display: none;
  }
  .nav-side-menu ul,
  .nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 50px;
    cursor: pointer;
    /*
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
  }
  .nav-side-menu ul :not(collapsed) .arrow:before,
  .nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
  }
  .nav-side-menu ul .active,
  .nav-side-menu li .active {
    border-left: 3px solid #4AD7D1;
    background-color: #4AD7D1;
  }
  .nav-side-menu ul .sub-menu li.active,
  .nav-side-menu li .sub-menu li.active {
    color: #4AD7D1;
  }

  .nav-side-menu ul .sub-menu li.active a,
  .nav-side-menu li .sub-menu li.active a {
    color: #4AD7D1;
  }
  .nav-side-menu ul .sub-menu li,
  .nav-side-menu li .sub-menu li {
    background-color: #01345B;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
  }
  .nav-side-menu ul .sub-menu li:hover,
  .nav-side-menu li .sub-menu li:hover {
    background-color: #001131   ;
  }
  .nav-side-menu ul .sub-menu li:before,
  .nav-side-menu li .sub-menu li:before {
    font-family: Fontawesome;
    content: "\f105";
    display: inline-block;
    padding-left: 20px;
    padding-right: 10px;
    vertical-align: middle;
  }
  .nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
  }
  .nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
  }
  .nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
  }
  .nav-side-menu li:hover {
    border-left: 3px solid #4AD7D1;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  @media (max-width: 767px) {
    .nav-side-menu {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10 !important;
      padding: 3px;
      background-color: #ffffff;
      color: #000;
      width: 40px;
      text-align: center;
    }
    .brand {
      text-align: left !important;
      font-size: 22px;
      padding-left: 20px;
      line-height: 0px !important;
    }
    .hide-nav{
        display: none;
    }
  }
  @media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
      display: block;
    }
      .navbar-text {
          display: none;
      }
      .toggle-btn {
          display: none;
      }
      .main-content{
          margin-left: 200px;
      }
      /*#content-wrap {*/
      /*    padding-bottom: 100px;*/
      /*    margin-bottom: 330px;!* Footer height *!*/
      /*}*/

      /*#footer {*/
      /*    position: absolute;*/
      /*    bottom: 0;*/
      /*    width: 100%;*/
      /*    height: 330px;*/
      /*}*/
  }
  body {
    margin: 0px;
    padding: 0px;
  }

  .nav-side-menu ul .sub-menu ul .sub-line li.active,
  .nav-side-menu li .sub-menu li .sub-line li.active {
    color: #4AD7D1;
  }

  .nav-side-menu ul .sub-menu li .sub-line li.active a,
  .nav-side-menu li .sub-menu li .sub-line li.active a {
    color: #4AD7D1;
  }
  .nav-side-menu ul .sub-menu li .sub-line li,
  .nav-side-menu li .sub-menu li .sub-line li {
    background-color: #001131;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
  }
  .nav-side-menu ul .sub-menu li .sub-line li:hover,
  .nav-side-menu li .sub-menu li .sub-line li:hover {
    background-color: #001131;
  }
  .nav-side-menu ul .sub-menu li .sub-line li:before,
  .nav-side-menu li .sub-menu li .sub-line li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 100px;
    padding-right: 10px;
    vertical-align: middle;
  }

  .nav-side-menu .sub-menu li {
    padding-left: 20px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
  }
  .nav-side-menu .sub-menu li a {
    text-decoration: none;
    color: #e1ffff;
  }
  .sub-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
  }
  .nav-side-menu li .sub-menu li:hover {
    border-left: 3px solid #4AD7D1;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }

  @media (max-width: 767px) {
      .nav-side-menu .sub-menu {
          position: relative;
          width: 100%;
          margin-bottom: 10px;
      }

      .nav-side-menu .sub-menu .toggle-btn {
          display: block;
          cursor: pointer;
          position: absolute;
          right: 10px;
          top: 10px;
          z-index: 10 !important;
          padding: 3px;
          background-color: #ffffff;
          color: #000;
          width: 40px;
          text-align: center;
      }

      .sub-line ul .sub-press li.active,
      .sub-line li .sub-press li.active {
          color: #4AD7D1;
      }

      .sub-line ul .sub-press li.active a,
      .sub-line li .sub-press li.active a {
          color: #4AD7D1;
      }

      .sub-line ul .sub-press li,
      .sub-line li .sub-press li {
          background-color: #001131;
          border: none;
          line-height: 28px;
          border-bottom: 1px solid #23282e;
          margin-left: 0px;
      }

      .sub-line ul .sub-press li:hover,
      .sub-line li .sub-press li:hover {
          background-color: #001131;
      }

      .sub-line ul .sub-press li:before,
      .sub-line li .sub-press li:before {
          font-family: Arial;
          content: "\f105";
          display: inline-block;
          padding-left: 50px;
          padding-right: 10px;
          vertical-align: middle;
      }

      .sub-line li {
          padding-left: 20px;
          border-left: 3px solid #2e353d;
          border-bottom: 1px solid #23282e;
      }

      .sub-line li a {
          text-decoration: none;
          color: #e1ffff;
      }

      .sub-line li a i {
          padding-left: 50px;
          width: 20px;
          padding-right: 20px;
      }

      .sub-line li:hover {
          border-left: 3px solid #4AD7D1;
          background-color: #4f5b69;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          -ms-transition: all 1s ease;
          transition: all 1s ease;
      }
  }
  @media (max-width: 767px) {
      .sub-line {
          position: relative;
          width: 100%;
          margin-bottom: 10px;
      }

      .sub-line .toggle-btn {
          display: block;
          cursor: pointer;
          position: absolute;
          right: 10px;
          top: 10px;
          z-index: 10 !important;
          padding: 3px;
          background-color: #ffffff;
          color: #000;
          width: 40px;
          text-align: center;
      }
      #content-wrap {
          padding-bottom: 10px;
          margin-bottom: 1200px/* Footer height */
      }

      #footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 1200px;
      }

  }


.logo-image{
    width: 200px;
    height: 40px;
}
.small-logo{
    width: 150px;
    height: 150px;
}
.advert-image{
    width: 300px;
    height: 300px;
}

p{
    font-size: small;
}

.navbar-custom {
    background: -webkit-gradient(linear, left top, left bottom, from(#99ddff), color-stop(75%, #fff), to(#fff)), url("../images/lion.jpg");
    background: linear-gradient(to bottom, #99ddff 0%, #fff 75%, #fff  100%), url(".../images/lion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;    /*background-color: transp arent;*/
}

.admin-nav{
    background-color: transparent;
}
.search-nav{
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(75%, #fff), to(#99ddff)), url("../images/lion.jpg");
    background: linear-gradient(to bottom, #fff 0%, #fff 75%, #99ddff 100%), url(".../images/lion.jpg");
}
.left-sidebar{
    float: left;
}

#page-container {
    position: relative;
    min-height: 100vh;
}




/* Other Classes for Page Styling */

body {
        /*background: #007bff;*/
    /*background: linear-gradient(to right, #0062E6, #33AEFF);*/
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}
.btn-primary.btn-outline {
    color: #f0ad4e; !important;
    border-color: #f0ad4e;
}
.btn-link.btn-outline {
    color: #000000; !important;
    border-color: #000000;
}
.btn-custom{
    background-color: #00458B;
    border-color: #00458B;
    color: #fff;
}
.btn-custom:hover{
    background-color: #4AD7D1;
    border-color: #4AD7D1;
    color: white;
}
.btn-dropdown{
    background-color: #4AD7D1;
    border-color: #4AD7D1;
    color: white;
}
.btn-dropdown:hover{
    background-color: #00458B;
    border-color: #00458B;
    color: white;
}


.search-btn{
    background-color: #00458B; !important;
    /*-webkit-box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;*/
    /*box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;*/
}

/*Css code for for_business page
 */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        'text1 text1 text1 image1 image1 image1'
        'image2 image2 image2 text2 text2 text2'
        'text3 text3 text3 image3 image3 image3'
        'search search search search search search';
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    text-align: center;
}
.item1 {
    grid-area: text1; }
.item2 {
    grid-area: image1; }
.item3 {
    grid-area: text2; }
.item4 {
    grid-area: image2; }
.item5 {
    grid-area: text3; }
.item6 {
    grid-area: image3; }
.item7{
    grid-area: search;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;

}
.itm{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
    height: 400px;
}
@media (max-width: 767px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        'image1 image1 image1 image1 image1 image1'
        'text1 text1 text1 text1 text1 text1'
        'image2 image2 image2 image2 image2 image2'
        'text2 text2 text2 text2 text2 text2'
        'image3 image3 image3 image3 image3 image3'
        'text3 text3 text3 text3 text3 text3'
        'search search search search search search';
    }
    .itm{
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        font-size: 30px;
        text-align: center;
        height: 200px;
    }

}


/*Css code for customer_main1 page
 */

.grid-cust {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
        'category results results results adverts adverts'
        'adverts2 adverts2 adverts2 adverts2 adverts2 adverts2'
        'related related related related related related'
        'feedback feedback feedback feedback feedback feedback'

;
}

.item-ad{
    grid-area: adverts;
}

.item-ad2{
    grid-area: adverts2;
}
.item-cat{
    grid-area: category;
}
.item-results{
    grid-area: results;
}
.item-feedback{
    grid-area: feedback;
}
.item-related{
    grid-area: related;
}

@media (max-width: 767px) {

    .grid-cust {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-areas:
        'results results results results results results'
        'adverts adverts adverts adverts adverts adverts'
        'related related related related related related'
        'category category category category category category'
        'feedback feedback feedback feedback feedback feedback'
    ;
    }
    .item-ad2{
        display: none;
    }

}

.grid-bus{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
    'name name name name name name'
    'banner banner banner banner banner banner'
    ''

;

}

/*.item-banner{*/
/*    grid-area: banner;*/
/*}*/
/*.item-name{*/
/*    grid-area: name;*/
/*}*/
/*.item-products{*/
/*    grid-area: services;*/
/*}*/
/*.item-contact{*/
/*    grid-area: contact;*/
/*}*/
/*.item-images{*/
/*    grid-area: produts;*/
/*}*/
/*.item-reviews{*/
/*    grid-area: reviews;*/
/*}*/



/*
 * Rating styles
 */
.rating {
    font-size: 30px;
    overflow:hidden;
}
.small-rating{
    font-size: 30px;
    overflow:hidden;
}
.rating input {
    float: right;
    opacity: 0;
    position: absolute;
}
.rating a,
.rating label {
    float:right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
    color: orange;
    cursor: pointer;
}
.rating2 {
    direction: rtl;
}
.rating2 a {
    float:none
}






